
# https://pypi.org/project/readthedocs-custom-steps/#history
readthedocs-custom-steps==0.6.2

# https://pypi.org/project/mkdocs-material/#history
mkdocs-material==9.1.9

# https://pypi.org/project/pydoc-markdown/#history
pydoc-markdown==4.6.4

# https://pypi.org/project/novella/#history
novella==0.2.5
